
.app-container {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 300px;
  background-color: #d0caca;
  color: rgb(8, 8, 8);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar .logo-container {
  margin-bottom: 20px;
}

.sidebar .logo {
  width: 110px; 
  margin-bottom: 10px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.url-shortener-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(230, 222, 222, 0.1);
}

.url-shortener-form input,
.url-shortener-form select {
  margin-bottom: 15px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.url-shortener-form button {
  padding: 10px 20px;
  background-color: #6a055b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.url-shortener-form button:hover {
  background-color: #6a055b;
}

